body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-hh{
    height: 480px;
    width: 100%;
    /* background: #1f2937; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-hero {
    height: inherit;
    width: 75%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.header {
    height: 32px;
    color: #000000;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    font-weight: 600;
}

.scoreboard {
    color: #000000;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    gap: 8px;
    font-weight: 600;
}

.play-area {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #000000;
}

.sub-hero {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

button {
    width: 200px;      /* Set a fixed width */
    height: 200px;     /* Optionally, set a fixed height */
    /* padding: 8px 16px;  */
    /* You can still use padding if it fits your design */
    /* font-size: clamp(12px, 2vw, 50px); */
    /* font-weight: 600; */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* vertical-align: middle; */
    
    /* Optional: If the text might be too long, you can control overflow */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}